body {
 background-colour: rgb(240, 248, 255);
}

h1 {
  color: rgb(100, 149, 237);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
}

a {
  color: rgb(100, 149, 237);
  text-decoration: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
 
}
a:hover {
  color: rgb(240, 248, 255);
  background-color: rgb(100, 149, 237); 
}
a:hover {
  color: white;
  background-color: rgb(123, 104, 238); 
}
