body {
 background-image: url("background.jpg");
}

h1 {
  color: white;
  text-align: center;
  font-family: "Monaco", "Courier New", monospace;
  font-size: 50px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: rgba (0,0,0,0.5);
}

a {
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: "Monaco", "Courier New", monospace;
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: rgba (0,0,0,0.5);
}
a:hover {
  color: white;
  background-color: rgb(123, 104, 238); 
}
a:hover {
  color: white;
  background-color: rgb(123, 104, 238); 
}
