body {
  background-color:rgb(123, 104, 238);
}

a {
  color: blue;
  text-align: center;
  font-family: "Monaco", "Courier New", monospace;
  font-size: 30px;
}
h1 {
  color: blue;
  text-align: center;
  font-family: "Monaco", "Courier New", monospace;
  font-size: 30px;
}
title {
  color: blue;
  text-align: center;
  font-family:"Monaco", "Courier New", monospace;
  font-size: 30px;
}
p {
  color: blue;
  text-align: center;
  font-family: "Monaco", "Courier New", monospace;
  font-size: 30px;
}
