body {
  background-color:rgb(173, 216, 230);
}

a {
  color: blue;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 30px;
}
h1 {
  color: blue;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 30px;
}
title {
  color: blue;
  text-align: center;
  font-family:"Lucida Console", "Courier New", monospace;
  font-size: 30px;
}
p {
  color: blue;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 30px;
}
