body {
 background-colour: rgb(240, 248, 255);
}

header {
  color: rgb(100, 149, 237);
  text-align: center;
  font-family: tahoma;
  font-size: 50px;
  font-weight: 900;
  border-radius: 5px;
  padding: 10px 15px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: rgb(135, 206, 235);
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}
li a.active {
  background-color: rgb(106,90,205);
  color: white;
}

li a:hover:not(.active) {
  background-color: #555555;
  color: white;


