body {
 background-colour: white;
}

h1 {
  color: Cornflowerblue;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
}

a {
  color: LightSkyBlue;
  text-decoration: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: rgba (0,0,0,0.5);
}
a:hover {
  color: white;
  background-color: LightSkyBlue; 
}
a:hover {
  color: white;
  background-color: rgb(123, 104, 238); 
}
