body {
 background-colour: FloralWhite;
 margin: 0;
}

h1 {
  color: #7094DB;
  text-align: center;
  font-family: tahoma;
  font-size: 50px;
  font-weight: 900; 
  border-radius: 5px;
  padding: 2px 15px;
}

h2 {
  color: #7094DB;
  text-align: left;
  font-family: tahoma;
  font-size: 30px;
  font-weight: 900;
  border-radius: 5px;
  padding: 2px 15px;
  background-color: #D4DFF4;
}

h3 {
  color: LemonChiffon;
  text-align: left;
  font-family: tahoma;
  font-size: 15px;
  font-weight: 900;
  margin-left: 20px;
  margin-right: 100px; 
  display: inline-block;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: rgb(100, 149, 237);
}

p {
 margin-left: 100px; 
 margin-right: 100px; 
 color: #003399;
 font-family: tahoma;
 font-weight: 500;
 background-color: LemonChiffon;
 display: inline-block;
 border-radius: 5px;
 padding: 10px 15px;
}

p.song-titles {
  position: relative;
  left: 30px;
  margin-left: 100px; 
  margin-right: 100px; 
  color: #003399;
  font-family: tahoma;
  font-weight: 500;
  background-color: LemonChiffon;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 15px;
}

div.waves {
 position: relative;
 top: 10px
 left: 10px;
 }


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  border: 1px solid #e7e7e7;
  background-color: LemonChiffon;
}

ul li a {
  display: block;
  color: #003399;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

ul li a:hover:not(.active) {
  background-color: #003399;
  color: LemonChiffon;
}

ul li a.active {
  background-color: #003399;
  color: LemonChiffon
}

iframe {
  margin-left: 100px;
  margin-right: 100px;
}

div.a {
  margin-left: 100px;
  margin-right: 100px;
}

  table {
    border-collapse: collapse;
    width: 60%;
    margin: 20px auto;
  }

  th, td {
    border: 3px solid #D4DFF4;
    padding: 8px 12px;
    text-align: center;
    font-family: tahoma;
    font-weight: 500;
    color: #003399;
  }

  th {
    background-color: LemonChiffon;
    text-align: left;
    font-weight: bold;
    color: #003399;
  }

  th[rowspan], th:first-child {
    background-color: LemonChiffon;
    text-align: left;
    font-weight: bold;
  }

img.waves {
  margin-left: 10px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
