.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(background.jpg) no-repeat center center;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
}

h1 {
  color: white ;
  text-align: center;
  font-family: "Monaco", "Courier New", monospace;
  font-size: 50px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
}

a {
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: "Monaco", "Courier New", monospace;
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
}
a:hover {
  color: white;
  background-color: rgb(123, 104, 238); 
}
